# dependencies 
/node_modules
/.pnp
/.vscode
.pnp.js

# testing
/coverage

# production
/build
terraform/.terraform
terraform/.terraform.lock.hcl

src/TemporaryProductGrid.tsx
src/TemporaryTableOrganism.tsx